apiVersion: apps/v1
kind: Deployment
metadata:
  name: shop-frontend
  namespace: shop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shop-frontend
  template:
    metadata:
      labels:
        app: shop-frontend
    spec:
      containers:
        - name: shop-frontend
          image: ghcr.io/berrouyne/shop-frontend:10ec761
          ports:
            - containerPort: 80
